* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 850px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.main-element {
  border: 2px solid #000;
  border-radius: 10px;
  background: #ff0;
  height: 400px;
  padding: 20px;
}
.game-field {
  width: 580px; 
  float: left;
}
.info-field {
  width: 250px;
  float: right;
}
.info-field .item {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
}
.to-start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 36px;
  font-weight: 500;
}